.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery {
  height: 600px;
  overflow: scroll;
  border: 2px solid red;
}

.add-btn {
  width: 50px;
  height: 50px;
  border: 2px solid palevioletred;
  background-color: palevioletred;
  color: white;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
.file-upload-input {
  display: none;
}
.main-text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: palevioletred;
}
.img-item {
  width: 150px;
  height: 150px;
  min-width: 150px;
  max-width: 150px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  display: inline;
}
.img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  max-width: 150px;
}
